@model Word
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/Layout.cshtml";
}


@*@if(ViewBag.IsExist == true)
{
    <br>
    <br>
    <div class="table-responsive">
        <div class="alert alert-icon alert-success" role="alert">
            <i class="fa fa-times"></i>
            Word is exist.
        </div>
    </div>
    <br>
    <br>
}*@


<div class="section light-gray-bg">
    <div class="container">


        <h2>ADD NEW FORM  </h2>
        <form role="form" method="post" asp-action="add">
            <div class="row">

                <div class="col-md-4">
                    <div class="form-group has-success has-feedback">
                        <label class="control-label" for="inputSuccess3">Name</label>
                        <input type="text" class="form-control" id="inputSuccess3" asp-for="Name">
                        <i class="fa fa-check form-control-feedback"></i>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group has-success has-feedback">
                        <label class="control-label" for="inputSuccess3">Meaning</label>
                        <input type="text" class="form-control" id="inputSuccess3" asp-for="Meaning">
                        <i class="fa fa-check form-control-feedback"></i>
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group has-success has-feedback">
                        <label class="control-label" for="inputSuccess3">Level</label>
                        <select class="form-control" asp-for="Level">
                            <option>Select word level</option>
                            <option value="A1">A1</option>
                            <option value="A2">A2</option>
                            <option value="B1">B1</option>
                            <option value="B2">B2</option>
                            <option value="C1">C1</option>
                            <option value="C2">C2</option>

                        </select>


                    </div>
                </div>


            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>

